.container {
  padding: 30px 0;

  .product_detail_pic {
    display: flex;
    column-gap: 10px;
    // Main large image
    img {
      flex: 0 0 50%;
      height: 300px;
      object-fit: cover;
    }

    .main {
      flex: 0 0 20%;

      row-gap: 10px;
      align-items: start;

      img {
        width: 100%; // Make thumbnails take the full width of their container
        height: 100px; // Adjust height for square thumbnails
        object-fit: cover;
      }
    }
  }

  .product_detail_text {
    h2 {
      color: black;
      font-weight: 700;
    }
    .seen-icon {
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 30px;
      column-gap: 5px;
    }
    p {
      margin: 10px 0;
      line-height: 25px;
    }
    ul {
      margin: 20px 0;
      border-top: 1px solid;
      padding-top: 20px;
    }
    li {
      list-style: none;
      display: flex;
      line-height: 35px;
      column-gap: 20px;

      b {
        width: 150px;
      }

      span {
        display: flex;
        column-gap: 10px;
        column-gap: 3px;

        svg {
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
.product_detail_tab {
  margin: 20px 20px;
  h4 {
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    &::after {
      position: absolute;
      right: 0;
      top: 12px;
      height: 2px;
      width: 43%;
      background: white;
      content: "";
    }
    &::before {
      position: absolute;
      left: 0;
      top: 12px;
      height: 2px;
      width: 43%;
      background-color: white;
      content: "";
    }
  }
}
.section-title {
  margin-bottom: 50px;
  text-align: center;

  h2 {
    position: relative;
  }

  h2::after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #2a37ee;
    margin: 0 auto;
    content: "";
  }
}
