.footer{
    .footer_about{
        margin-bottom: 30px;

    .footer__abou_logo{
        margin-bottom: 15px;
        display: inline-block;
    }
    .ul li {
        font-size: 16px;
        color: black;
        line-height: 36px;
        list-style: none;
    }
    }

  

}