.header_top {
  background: white;
}

.header_top_left {
  ul {
    background: white;
    display: flex;
    align-items: center;
    padding: 5px 0 5px;
    column-gap: 20px;
    list-style: none;
    li {
      font-size: 14px;
      color: #1c1c1c;
      display: flex;
      align-items: center;
      column-gap: 2px;
    }
    li:first-child {
      position: relative;

      &:after {
        position: absolute;
        right: -10px;
        top: 1px;
        height: 20px;
        width: 1px;
        background: black;
        opacity: 0.5;
        content: "";
      }
    }
  }
}
.header_top_right {
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0 5px;
  ul {
    display: flex;
    column-gap: 5px;
    list-style: none;
    a {
      font-size: 14px;
      display: inline-block;
      color: #715ad6; // Default color

      &:hover {
        color: #1c1c1c; // Color on hover
      }
    }
    li :last-child {
      cursor: pointer;
      margin-left: 3px;
    }

    span {
      font-size: 14px;
      margin-left: 2px;
    }
  }
}
.header_logo{
  padding: 15px 0;
}
.header__menu{
  padding: 24px 0;
   
  ul{
    display: flex;
    justify-content: space-between;
      li{
        list-style: none;
        position: relative;

        a{
          text-decoration: none;
          font-size: 14px;
          color:black;
          text-transform: uppercase;
          font-size: bold;
          letter-spacing: 2px;
          transition: all 0.3s;
          padding: 5px 0;
          display: block;
        }
      }
    .active a{
      color: black ;
    }
    .header_menu_dropdown{
      background: black;
      display: block;
      position: absolute;
      width: 180px;
      z-index: 9;
      padding: 5px 0;
      transition: all,0.3s;
      opacity: 0;
      visibility: hidden;

      li{
        a{
          text-transform: capitalize;
          color: white;
          font-weight: 400;
          padding: 5px 15px;
        }

        :hover {
          color: #090053;
        }
      }
    }
}
li:hover .header_menu_dropdown{
  opacity: 1;
  visibility: visible;
}

}
.header_cart{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  

  ul{
    display: flex;
    margin-right: 25px;
  }
  li{
    list-style: none;
    position: relative;
    margin-left: 20px;

    svg{
      font-size: 25px;
      color: #715ad6;
    }
    span{
      color: white;
      background: #715ad6;
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 20px;
      font-size: 13px;
      font-weight: 500;
      left:15px;
      top:-6px;
    }
  }
}